<a href="https://colab.research.google.com/github/P-cyber-pixel38/python/blob/main/006_Liste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Esercizio 1
Creare una lista vuota assegnarla a una variabilee stamparla.

In [15]:
lista = []
print(lista)

[]

Esercizio 2
Creare una lista di numeri interi da 1 a 5 e assegnarla a una variabile e stamparla.

In [16]:
lista = [1, 2, 3, 4,  5]
print(lista)

[1, 2, 3, 4, 5]

Esercizio 3
Accedere all'elemento con indice 2 della lista precedente.

In [17]:
print(lista[2])

3

Esercizio 4
Aggiungere un nuovo elemento "6" alla lista precedente.

In [18]:
lista.append(6)
print(lista)

[1, 2, 3, 4, 5, 6]

Esercizio 5
Rimuovere l'elemento con indice 3 dalla lista precedente.

In [23]:
del lista[3]  #oppure lista.pop(3)
print(lista)

[1, 2, 3, 5, 6]

Esercizio 6
Creare una nuova lista che contenga solo i primi tre elementi della lista precedente.

In [26]:
lista2 = lista[0:3]
print(lista2)

[1, 2, 3]

Esercizio 7
Creare una nuova lista che contenga gli elementi con indici dispari della lista precedente.

In [39]:
lista =[1,2,3,4,5,6,7,8,9,10]
if len(lista) % 2 == 0 :
  lista2 = lista[1::2]
else:
  lista2 = lista[0::1]
print(lista2)

[2, 4, 6, 8, 10]

Esercizio 8
Ordinare la lista precedente in ordine decrescente.

In [45]:
lista =[1,2,3,4,5,6,7,8,9,10]
lista.sort(reverse=True)
print(lista)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Esercizio 9
Contare quante volte l'elemento "2" appare nella lista precedente.

In [44]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
#appare nella lista
count_of_2 = my_list.count(2)
print(count_of_2)

1

Altro modo...

In [ ]:
print(f"il numero 2 appare {lista.count(2)} volte")